#searchForm {
  padding: 10px;  
}

button {
  width: 100px;
  height: 20px;
}

.result {
  padding-bottom: 10px; 
}

.favicon {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.resultTexts {
  display: inline-block;
}

.tabname {
  margin: 0 0 2px 0;
  color: blue;
  cursor: pointer;
  font-size: 130%;
}

.tabname:hover {
  text-decoration: underline;
}

.context {
  margin: 0 0 5px 0;
}
